<div *ngIf="!isLoading" class="mt-5">
  <p class="h1 text-center">Hk-Lapstore System Login </p>
  <form>
    <div class="container text-center d-flex flex-column align-items-center w-50 bg-body-secondary p-5">
      <div class="form-outline mb-4 w-50">
        <input type="text" id="usernameTxt" [(ngModel)]="loginObj.userName" name="username" class="form-control"/>
        <label class="form-label" for="usernameTxt">User Name</label>
      </div>

      <div class="form-outline mb-4 w-50">
        <input type="password" id="passwordTxt" [(ngModel)]="loginObj.password" name="password" class="form-control"/>
        <label class="form-label" for="passwordTxt">Password</label>
      </div>

      <button type="button" class="btn btn-primary btn-block mb-4 w-25" (click)="onLogin()">Login
      </button>
      <hr class="border border-primary  opacity-25 w-50 ">
    </div>

    <div class="text-center container d-flex align-items-center justify-content-center bg-body-secondary gap-5 w-50">
      <p class="text-black-50">Not a member ? </p>
      <button type="button" class="btn btn-dark btn-block mb-4 w-25 " (click)="onRegister()">Register
      </button>
    </div>
  </form>
</div>

<!--loader-->
<div *ngIf="isLoading" class="mt-5 text-center">
  <button  class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    <span role="status"> Please Wait. User Logging In...</span>
  </button>
</div>
